<div class="gallery"><%= @gallery.name %></div>
<div id="paintings">
  <% for painting in @gallery.paintings %>
    <div class="painting">
      <% if painting.image_processed? %>
          <%= image_tag painting.image_url(:thumb) if painting.image? %>
      <% else %>
        <em>Processing...</em>
      <% end %>
      <div class="name"><%= painting.name %></div>
      <div class="actions">
        <%= link_to "edit", edit_painting_path(painting) %> |
        <%= link_to "remove", painting, :confirm => 'Are you sure?', :method => :delete %>
      </div>
    </div>
  <% end %>
  <div class="clear"></div>
</div>

<p>
  <%= link_to "Remove Gallery", @gallery, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View Galleries", galleries_path %>
</p>


<%= direct_upload_form_for @uploader do |f| %>
  <p><%= f.file_field :image %></p>
  <p><%= f.submit "Upload Image" %></p>
<% end %>
